---
layout: page
title:
description: '定风波'
image:
  feature: covers/20141203.jpg
  credit: 金山岭长城
  creditlink:
---

{% for post in paginator.posts %}
<article class="am-article">
  <h1 class="am-article-title">
    <a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
    {% if post.link %} <sup><a class="am-icon-external-link" href="{{ post.link }}" target="_blank"></a></sup>{% endif %}
  </h1>
  {% if post.description %}<p>{{ post.description }}</p>{% endif %}
  <p class="am-article-meta">
    <span><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y年%-m月%-d日" }}</time></span>
    <span class="am-fr">{% for tag in post.tags %} <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="am-badge am-round">{{ tag }}</a>{% endfor %}</span>
  </p>
  <hr class="am-article-divider" />
</article>
{% endfor %}

<ul class="am-pagination am-pagination-centered">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
  <li class="am-pagination-prev"><a href="{{ site.baseurl }}/"><span class="am-icon-angle-double-left"></span></a></li>
    {% else %}
  <li class="am-pagination-prev"><a href="{{ site.baseurl }}/page{{ paginator.previous_page }}/"><span class="am-icon-angle-double-left"></span></a></li>
    {% endif %}
  {% else %}
  <li class="am-pagination-prev am-disabled"><a href="#"><span class="am-icon-angle-double-left"></span></a></li>
  {% endif %}

  {% for count in (1..paginator.total_pages) %}
  <li{% if count == paginator.page %} class="am-active"{% endif %}>
    <a href="{% if count == 1 %}{{ site.baseurl }}/{% else %}{{ site.baseurl }}/page{{ count }}{% endif %}">{{ count }}</a>
  </li>
  {% endfor %}

  {% if paginator.next_page %}
  <li class="am-pagination-next"><a href="{{ site.baseurl }}/page{{ paginator.next_page }}"><span class="am-icon-angle-double-right"></span></a></li>
  {% else %}
  <li class="am-pagination-next am-disabled"><a href="#"><span class="am-icon-angle-double-right"></span></a></li>
  {% endif %}
</ul>
