---
layout: page
permalink: /posts/
title: 时光
description: 一蓑烟雨任平生
---

{% for post in site.posts %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
    <h1 id="{{ this_year }}-ref">{{ this_year }}</h1>
    <ul class="am-list am-link-muted">
  {% endif %}

      <li>
        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
          {{ post.title }}
        </a>
      </li>

  {% if forloop.last %}
    </ul>
  {% else %}{% if this_year != next_year %}
    </ul>
    <h1 id="{{ next_year }}-ref">{{ next_year }}</h1>
    <ul class="am-list am-link-muted">
  {% endif %}{% endif %}
{% endfor %}
