---
layout: page
permalink: /tags/
title: 标签
description: 竹杖芒鞋轻胜马
---

<!-- Convert site.tags into an array -->
{% capture site_tags_ %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign site_tags = site_tags_ | split:',' | sort %}

<div class="am-g am-padding-sm am-margin-bottom-lg">
  {% for tag in site_tags %}
  <a href="#{{ tag }}" class="am-btn am-btn-default am-round am-margin-bottom-sm" data-am-smooth-scroll>
    {{ tag }} <sup>{{ site.tags[tag].size }}</sup>
  </a>
  {% endfor %}
</div>

{% for tag in site_tags %}
<div class="am-panel am-panel-default">
  <div class="am-panel-hd">
    <h2 id="{{ tag }}" class="am-panel-title">{{ tag }}</h4>
  </div>
  <ul class="am-list am-link-muted">
    {% for post in site.tags[tag] %}{% if post.title != null %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
        {{ post.title }}
      </a>
    </li>
    {% endif %}{% endfor %}
  </ul>
</div>
{% endfor %}
