<!--
  163y3 (网易云音乐插件)
    "y3" stands for "Yun Yin Yue"

  Usage:
    Single(default):
      [% include 163y3.html sid="19107759" %]
      [% include 163y3.html sid="19107759" type="2" %]
    List:
      [% include 163y3.html sid="10849492" type="0" %]
-->
<div style="width:340px;height:86px;margin:20px auto;overflow:hidden;">
  <embed src="http://music.163.com/style/swf/widget.swf?sid={{ include.sid }}&type={% if include.type %}{{ include.type }}{% else %}2{% endif %}&auto=1&width=320&height=66" width="340" height="86"  allowNetworking="all">
</div>
