<div id="banner" class="am-container">
  <h1>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    {% if page.link %}
      <sup><a class="am-icon-external-link" href="{{ page.link }}" target="_blank"></a></sup>
    {% endif %}
  </h1>
  {% if page.layout == 'note' or page.layout == 'note-index' %}
    {% include _breadcrumbs.html %}
  {% else %}
    <p>{{ page.description }}</p>
  {% endif %}

  <nav role="navigation">
    <ul class="am-text-center">
      <li><a href="{{ site.baseurl }}/" style="padding: 5px 10px;"><img src="{{ site.baseurl }}/assets/images/favicon.png" width=32 height=32></a></li>
      <li><a href="{{ site.baseurl }}/tags/">标签</a></li>
      <li><a href="{{ site.baseurl }}/posts/">时光</a></li>
      <li><a href="{{ site.baseurl }}/about/">关于</a></li>
    </ul>
  </nav>
</div>

{% if page.feature.image %}
  <div class="feature-trigger am-text-center">
    <span class="feature-opener am-icon-chevron-up"></span>
    <span class="feature-closer am-icon-chevron-down"></span>
  </div>
  <div id="feature">
    <img src="{{ site.baseurl }}/assets/images/{{ page.feature.image }}" title="封面图片" style="display: none;">
    {% if page.image.credit %}
      <span class="am-text-sm">
        {% if page.image.creditlink %}
          <a href="{{ page.image.creditlink }}" target="_blank">{{ page.image.credit }}</a>
        {% else %}
          {{ page.image.credit }}
        {% endif %}
      </span>
    {% endif %}
  </div>
  <div class="feature-trigger am-text-center">
    <span class="feature-opener am-icon-chevron-down"></span>
    <span class="feature-closer am-icon-chevron-up"></span>
  </div>
{% endif %}

<div id="gotop-fixer">
  <div id="gotop-container" class="am-container">
    <a id="gotop" class="am-icon-btn am-icon-arrow-up am-margin-lg" href="#banner" title="回到顶部" data-am-smooth-scroll style="display: none;"></a>
  </div>
</div>
