<div id="banner" class="am-container">
  <!-- browser-upgrade -->
  <!--[if lt IE 9]>
  <div class="am-alert am-alert-danger" data-am-alert>
    <strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a>
  </div>
  <![endif]-->

  <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
  {% if page.layout == 'note' %}{% include _breadcrumbs.html %}{% else %}
  <p>{{ page.description }}</p>
  {% endif %}

  <nav role="navigation">
    <ul class="am-text-center">
      <li><a href="{{ site.baseurl }}/" style="padding: 5px 10px;"><img src="{{ site.baseurl }}/assets/images/favicon.png" width=32 height=32></a></li>
      <li><a href="{{ site.baseurl }}/tags/">标签</a></li>
      <li><a href="{{ site.baseurl }}/posts/">时光</a></li>
      <li><a href="{{ site.baseurl }}/notes/">笔记</a></li>
      <li><a href="{{ site.baseurl }}/about/">关于</a></li>
    </ul>
  </nav>
</div>

<div id="gotop">
  <a href="#banner" title="回到顶部" class="am-icon-btn am-icon-arrow-up am-active" data-am-smooth-scroll></a>
</div>
