<head>

<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">
<meta name="MobileOptimized" content="320">
<meta name="HandheldFriendly" content="True">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}">
<meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' }}{% endif %}">
<link href="{{ site.baseurl }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<!-- Load Modernizr -->
<script src="{{ site.baseurl }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>
<!-- Icons 16x16 -->
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
<!-- Icons 32x32 -->
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.png">
<!-- Icons 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/images/apple-touch-icon-precomposed.png">
<!-- Icons 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/images/apple-touch-icon-72x72-precomposed.png">
<!-- Icons 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/images/apple-touch-icon-114x114-precomposed.png">
<!-- Icons 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/images/apple-touch-icon-144x144-precomposed.png">

<!-- Baidu Tongji  -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?184efdd4fc92c265f23e4aa7aae22df1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body id="top" {% if page.image.feature %}class="feature"{% endif %}>

<!-- browser-upgrade -->
<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->

<!-- navigation -->
<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
  <button class="dl-trigger">展开菜单</button>
  <ul class="dl-menu">
    <li><a href="#top" class="dl-close"><i class="fa fa-fw fa-arrow-up"></i> 顶部</a></li>
    <li><a href="{{ site.baseurl }}/"><i class="fa fa-fw fa-home"></i> 首页</a></li>
    <li>
      <a href="#"><i class="fa fa-fw fa-ellipsis-h"></i> 更多</a>
      <ul class="dl-submenu">
        <li><a href="{{ site.baseurl }}/posts/"><i class="fa fa-fw fa-clock-o"></i> 时光穿梭</a></li>
        <li><a href="{{ site.baseurl }}/tags/"><i class="fa fa-fw fa-tags"></i> 标签浮云</a></li>
        <li><a href="{{ site.baseurl }}/notes/"><i class="fa fa-fw fa-book"></i> 知识笔记</a></li>
      </ul><!-- /.dl-submenu -->
    </li>
    <li>
      <a href="#"><i class="fa fa-fw fa-bars"></i> 关于</a>
      <ul class="dl-submenu">
        <li>
          <img src="{{ site.baseurl }}/assets/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo">
          <h4>{{ site.owner.name }}</h4>
          <p>{{ site.owner.bio }}</p>
          <a href="http://github.com/aidistan" target="_blank"><i class="fa fa-github"></i> GitHub</a>
          <a href="http://photo.aidistan.net" target="_blank"><i class="fa fa-photo"></i> Lofter</a>
        </li>
      </ul><!-- /.dl-submenu -->
    </li>
  </ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->

<div class="entry-header">
  {% if page.image.credit %}<div class="image-credit">封图: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div>{% endif %}
  {% if page.image.feature %}<div class="entry-image" style="background-image: url({{ site.baseurl }}/assets/images/{{ page.image.feature }});"></div>{% endif %}
</div>
