<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}">
<meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' }}{% endif %}">
<link href="{{ site.baseurl }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- Baidu site verification -->
<meta name="baidu-site-verification" content="dcXVtLtIQN" />
<!-- Bing site verification -->
<meta name="msvalidate.01" content="E7BF1E5486657C4EBA604D298447936F" />

<!-- Icons -->
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.png">

<!-- Amasze UI -->
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">

<!-- Main CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/main.css">

<!-- Baidu Statistics  -->
{% if site.service.baidu %}
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?06d3a78353c26a250f41cc27a8bd938f";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
{% endif %}

<!-- Youziku -->
<script type="text/javascript" src="http://api.youziku.com/webfont/FastJS/yzk_12C4AB2F87FC9AB1"></script>
