// Overwrite old styles
//---------------------------------------------------------
body {
  background-color: $white;
}

#note {
  .header-title h2 {
    text-transform: none;
    @include font-size(20);
  }
}

#post {
  .entry-content {
    box-shadow: 0 0 0 0, 0 0 0 $white;
    @include rounded(0px);
    @media #{$large} {
      margin: 0px auto 0px auto;
    }

    > p:first-child {
      @media #{$large} {
        @include font-size(16);
      }
    }
  }
}

.entry-image {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.footer-wrapper {
  a:hover {
    color: $text-color;
  }
}

// Add new styles
//---------------------------------------------------------
#post {
  .entry-desc {
    font-size: 90%;
    font-weight: bold;
    background-color: #eee;
    border: 10px solid #eee;
    border-left-width: 20px;
    border-right-width: 20px;
  }

  .entry-content {
    > blockquote {
      font-style: normal;
      color: lighten($text-color, 20%);
    }

    > p {
      text-indent: 2em;
    }
  }
}

#page {
  margin: 40px 2px 20px 2px;
  @media #{$medium} {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$large} {
    max-width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  article {
    padding: 15px;
    @media #{$medium} {
      padding: 15px 30px;
    }
    @media #{$large} {
      padding: 15px 60px;
    }
  }
}

#note {
  margin: 0 2px 20px 2px;
  @media #{$medium} {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$large} {
    max-width: 800px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
    margin-bottom: 16px;
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 6px 13px;
      border: 1px solid #ddd;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #ccc;
    }

    tr:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }
}
