---
layout: default
---

<div id="content" class="post am-container" role="main">
  <article class="am-article">
    <div class="am-article-hd" style="display: none;">
      <h1 class="am-article-title">{{ page.title }}</h1>
      <p class="am-article-lead">{{ page.description }}</p>
    </div>

    <div class="am-article-bd">
      {{ content }}
    </div>

    <div class="am-article-meta">
      <span>
        发表日期:
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%Y年%m月%d日" }}
        </time>
        | 最新修订:
        <time datetime="{{ page.modified | date_to_xmlschema  }}">
          {{ page.modified | date: "%Y年%m月%d日" }}
        </time>
      </span>
      <span class="am-fr">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="am-badge am-round">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>

    {% if site.service.uyan_uid and page.comments %}
    <hr>
    <div id="uyan_frame"></div>
    {% endif %}

  </article>
</div>
