---
layout: default
---

<div id="content" class="post am-container" role="main">
  <article class="am-article">
    <div class="am-article-hd" style="display: none;">
      <h1 class="am-article-title">{{ page.title }}</h1>
      <p class="am-article-lead">{{ page.description }}</p>
    </div>

    <div class="am-article-bd">
      {{ content }}
    </div>

    <div class="am-article-meta">
      <span>
        发表日期:
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%Y年%m月%d日" }}
        </time>
        | 最新修订:
        <time datetime="{{ page.modified | date_to_xmlschema  }}">
          {{ page.modified | date: "%Y年%m月%d日" }}
        </time>
      </span>
      <span class="am-fr">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="am-badge am-round">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>

    <!-- 多说分享与评论 -->
    {% if site.service.duoshuo and page.comments %}
    <div class="ds-share flat" data-thread-key="{{ page.comments }}" data-title="{{ page.title }}" data-images="{{ site.baseurl }}/assets/images/{{ page.feature.image }}" data-content="{{ page.description }}" data-url="{{ site.url }}{{ page.url }}">
      <div class="ds-share-inline">
        <div class="ds-share-icons am-link-muted">
          <a class="ds-wechat am-icon-wechat am-icon-md" href="javascript:void(0);" data-service="wechat"></a>
          <a class="ds-qqt am-icon-qq am-icon-md" href="javascript:void(0);" data-service="qqt"></a>
          <a class="ds-weibo am-icon-weibo am-icon-md" href="javascript:void(0);" data-service="weibo"></a>
        </div>
      </div>
    </div>

    <div class="ds-thread" data-thread-key="{{ page.comments }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
    {% endif %}

  </article>
</div>
